<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".KeretaKitaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeretaKita"
        tools:targetApi="36">
        <activity
            android:name=".ui.tracking.TrackingKaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.about.privacy.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.about.saweria.SaweriaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8985795073717349~6626030475" />

        <activity
            android:name=".ui.stasiun.DetailInfoStasiunActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stasiun.InfoStasiunActivity"
            android:exported="false" />
        <activity
            android:name=".ui.jadwal.stasiun.DetailJadwalByStasiunActivity"
            android:exported="false" />
        <activity
            android:name=".ui.jadwal.stasiun.JadwalKaByStasiunActivity"
            android:exported="false" />
        <activity
            android:name=".ui.jadwal.ka.DetailJadwalKaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>